@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply font-family_header1;
        @apply font-family_header2;
        @apply font-family_header3;
        @apply font-family_body1;
        @apply font-family_body2;
        @apply font-family_body3;
        @apply font-family_body4
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 6px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: hidden;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(180, 180, 180);
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgb(0,0,0);
    }
  }
